/*
    Document   : test．css
    Created on : 2014-08-11 12:44 AM
    Author     : nope
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/

root {
    display: block;
}